.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 55px;
  height: 55px;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  color: white;
  font-size: 28px;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: 0.25s;
  border-radius: 8px; /* KANTAINI, bet ne asi */
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-50%) scale(1.05);
}

.nav-btn.left {
  left: 20px;
}

.nav-btn.right {
  right: 20px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 55px;
  height: 55px;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  color: white;
  font-size: 24px;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border-radius: 8px;

  transition: 0.25s;
}

.close-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}

.close-btn:active {
  transform: scale(0.95);
}
.close-btn,
.nav-btn {
  z-index: 9999;
  touch-action: manipulation;
}

@media (max-width: 768px) {
  .close-btn {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }

  .nav-btn {
    width: 45px;
    height: 45px;
    font-size: 24px;
  }

  .nav-btn.left {
    left: 10px;
  }

  .nav-btn.right {
    right: 10px;
  }

  .close-btn {
    top: 10px;
    right: 10px;
  }
}